Customer Component

    <!-- <div class="left">
        <router-outlet *ngIf="!isProductsDisplay"></router-outlet>
    </div> -->
<!-- </div> -->

<!-- CUSTOMER DETAILS WITH SORTBY/ORDERBY AND PAGINATION -->

<!-- <div>
            <select [(ngModel)]="parentSortByForProduct" (change) = "productComponent.setPage(1)">
                <option *ngFor ="let item of sortByListForProduct" [ngValue] = "item">{{item}}</option>
            </select>
        </div>
<product-data [sortBy] = "parentSortByForProduct"></product-data> -->
<!--CUSTOMER DETAILS WITH SORTBY/ORDERBY AND PAGINATION   -->